<nav class="black darken-4">
    <div class="nav-wrapper">
        <a href="#!" class="navbar-brand center">
            <img class="brand-img" src="/../../media/PoweredBy_640_Horizontal_Light-Backgrounds_With_Logo.gif" alt="giphy-logo">
        </a>
        <form class="navbar-form" role="search">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="search" placeholder="Game Topic">
            </div>
            <button type="submit" class="btn btn-default" ng-click="startGame(search)">Start Game</button>
        </form>
        <a class="navbar-right auth-btns" href="#">Logout</a>
        <a class="navbar-right auth-btns" href="#">Login</a>
    </div>
</nav>
